{% extends 'guitar_world/base.html' %}
{% load worldTag %}

{% block search %}

<h1>{{title}}</h1>

<form action="{% url 'search_articles' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Поиск</button>
</form>
{% endblock %}

{% block content %}

    {% menu_categories selected check %}

    <div class="articles">
        {% for p in post %}
            <div class="time_cat">
                <div class="line">
                    <p>
                        Категория - {{p.type}}
                        Дата {{p.time_update}}
                    </p>
                </div>
            </div>
            <h1>{{p.title}}</h1>
                <div class="photo">
                    <img src="{{p.photo.url}}" alt="">
                </div>
            <p>{{p.content|linebreaks|truncatewords:30}}</p>
            <a href="{{p.get_absolute_url}}">Читать пост</a>
        {% endfor %}
    </div>
{% endblock %}